.button {
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  background-color: rgb(34, 58, 194);
  color: rgb(252, 252, 252);
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 10px 10px 8px #242323;
}

.button:hover {
  opacity: 0.8;
  color: chartreuse;
  font-size: bold;
}

.button.active {
  background: rgb(233, 32, 32);
  color: white;
}

.button:disabled {
  cursor: not-allowed;
}